// Variables
$bg-color: #000;
$text-color: #fff;
$transition-duration: 0.3s;

.main-content {
  flex: 1;
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height, 300px));
}

// Loader Styles
.page-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  background-color: var(--background-dark, $bg-color);
  z-index: 999;
  transition: opacity $transition-duration ease-in-out;
  
  .loader {
    font-size: 1.5rem;
    color: var(--text-light, $text-color);
  }
}


// Footer Styles im Layout.scss entfernt, da bereits in Footer.scss definiert